@import "compass/css3";

$main-max-width: 1200px;

@mixin buttonize($base_color: $onb-red, $button_size: $font-size-base*2px) {
  $btn-top: lighten($base_color, 25%);
  $btn-stop: lighten($base_color, 15%);
  $btn-bottom: $base_color;
  $btn-top-a: darken($base_color, 20%);
  $btn-stop-a: darken($base_color, 15%);
  $btn-bottom-a: darken($base_color, 7%);
  $shadow: darken($base_color, 10%);

  @include box-sizing(border-box);
  @include border-radius($button_size/8);
  @include text-shadow($shadow, 0, -1px, 0);

  background-color: $base_color;
  border: 1px solid darken($base_color, 20%);
  color: $onb-very-white;
  display: inline-block;
  height: $button_size;
  line-height: $button_size - $button_size/$font-size-base;
  padding: 0 $button_size/4;
  position: relative;
  text-decoration: none;

  &:active {
    background: $btn-bottom-a;
    top: 1px;
  }
  &:link, &:hover { color: $onb-almost-white; }
}

html {
  background: $container-bg;
}

.nav, #main, #footer, div.intro, blockquote.intro {
  @include box-sizing(border-box);

  margin: 0px auto;
  max-width: $main-max-width;
  padding-left: 2em;
  padding-right: 2em;
}

@media screen and (max-device-width: 480px) {
  .nav, #main, #footer {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

#header {
  background: url(/images/header.png) no-repeat center top;
  height: 235px;
}

#site-title {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 100px;
  width: 187px;

  a { text-decoration: none; }
}

@media screen and (max-device-width: 480px) {
  #header {
    background: url(/images/header.png) no-repeat center -40px;
    height: 170px;
  }

  #site-title {
    left: 5px;
    top: 40px;
  }
}

.nav {
  background-color: $banner-bg;
  color: $onb-almost-white;
  height: 2em;
  line-height: 2;

  a, a:link, a:visited { color: $onb-almost-white; }
  a:hover, a:active { color: white; }

  .contact {
    a, a:link, a:visited { color: lighten($onb-blue, 55%); }
    a:hover, a:active { color: lighten($onb-blue, 60%); }
  }
}

#index .nav .home { display: none; }
#bio .nav .bio { display: none; }
#contact .nav .contact { display: none; }

#nav-bottom {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 1em;
    &:last-child { margin-right: 0; }
  }
}

.lt-640 {
  #nav-bottom {
    display: block;
    padding: 0;
    text-align: center;
  }
}

#main {
  background: $main-bg;
  min-height: 15em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: relative;
}

.gt-1220 {
  #main {
    border-left: 1px solid $banner-bg;
    border-right: 1px solid $banner-bg;
  }
}

#index #main { padding-top: 0; }

#footer {
  font-size: 82.5%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  p { margin-bottom: 0.5em; }
}

.lt-640 {
  #footer { text-align: center; }
}

a.big-action {
  @include buttonize(darken($onb-blue, 7.5%), $font-size-base*3px);
  font-size: 1.5em;
  font-weight: bold;
}

div.intro, blockquote.intro {
  color: $onb-very-white;
  background: $banner-bg;

  h1 {
    @include text-shadow(rgba(0,0,0,0.25), 0, -1px, 0);

    letter-spacing: -2px;
  }
}

#index, #contact {
  .intro h1 {
    @include header-rhythm(200%);
    margin: 0;
    padding: 0.75em 0;
  }
}

#bio blockquote.intro {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  h1 { @include header-rhythm(175%); }
  p.attrib {
    margin-bottom: 0;
    margin-left: 1em;
    &:before { content: '\2014'; }
  }
}

h2 {
  color: $onb-black;
  letter-spacing: -1px;
}

p.intro {
  @include rhythm-pc(112.5%);
  padding-top: (1.5em / 1.125);
  margin-bottom: 0;
}

@media screen and (max-device-width: 480px) {
  div.intro {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  #bio blockquote.intro {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.blocks {
  border-spacing: 0.5em 0;
  display: table;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-top: 1.5em;
  position: relative;
}

.block {
  @include box-shadow(rgba(0,0,0,0.25), 0, 0, 8px);

  background-color: $block-bg;
  border: 1px solid $border-fg;
  border-collapse: separate;
  color: #222;
  display: table-cell;
  padding: 0 0.5em 3em;
  width: 30%;

  h2 {
    @include text-shadow($onb-blue-light, 1px, 0, 1px);
  }

  p + p { margin-bottom: 0; }

  .band-img {
    background: url(/images/smallbands.png) 49% 0 no-repeat;
    bottom: 1px;
    height: 42px;
    position: absolute;
    width: 30%;
  }
}

.jazzband .band-img { background-position: 49% -63px; }
.rockband .band-img { background-position: 49% -126px; }

#call-to-action {
  margin: 1.5em auto 0;
  padding: 0 0.5em;
  text-align: center;
  width: 50%;

  p { @include rhythm-pc(112.5%); }
  .big-action { vertical-align: middle; }
}

.lt-640 {
  .blocks {
    display: block;
    margin: 0;
    position: static;
  }
  .block, #call-to-action {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
  }
  .block {
    margin: 0.5em 0;
    position: relative;

    .band-img {
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

#bio #main p { max-width: 35em; }

.photo-pane {
  max-width: 640px;

  a, img { display: inline-block; }
  
  img { @include opacity(0.85); }
  a:hover { img { @include opacity(1); } }

  img {
    @include box-shadow(rgba(0,0,0,0.5), 0, 0, 4px);

    background-color: $block-bg;
  }
}

.gt-985 {
  #main { position: relative; }

  .photo-pane {
    left: 40em;
    min-width: 310px;
    position: absolute;
    top: 36px;
  }
}

.lt-985 {
  .photo-pane {
    a {
      max-width: 150px;
      width: 23%;
    }

    img {
      width: 100%;
    }
  }
}

@media screen and (max-device-width: 480px) {
  .lt-985 {
    .photo-pane {
      text-align: center;

      a { width: 24%; }
      img { @include opacity(1); }
    }
  }
}

.lt-640 #bio #second-call-to-action {
  text-align: center;
}

#overlay {
  background: url(/images/overlay-fdfaf1-60.png) repeat;
  display: none;
  left: 0;
  height: 3000px;
  padding-top: 2%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}

#photo-viewer {
  @include box-shadow(rgba(0,0,0,0.5), 0, 0, 10px);

  background: $onb-very-white;
  border: 1px solid $border-fg;
  display: inline-block;
  padding: 0 1em;
  position: relative;
  z-index: 101;

  h3 {
    letter-spacing: -1px;
    text-align: center;
  }

  a, img { cursor: pointer; }

  img {
    display: block;
    max-width: 100%;
    max-height: 500px;
  }

  .next { float: right; }
  .prev { float: left; }
}

@media screen and (max-device-width: 480px) {
  #photo-viewer img {
    max-height: 300px;
  }
}

#contact {
  #main {
    .label {
      display: inline-block;
      width: 3em;
    }

    .rob {
      @include box-shadow(rgba(0,0,0,0.5), 0, 0, 10px);

      border: 1px solid $border-fg;
      position: absolute;
      top: 36px;
      width: 250px;
    }

    p { max-width: 28em; }
    p.contact-info { white-space: nowrap; }

    h2, p {
      margin-left: 274px;
    }

    min-height: 450px;
    position: relative;
  }
}

.lt-640 #contact #main {
  .rob { max-width: 250 / (640 - 17)  * 100%; }
  h2, p { margin-left: 274 / (640 - 64 - 17) * 100%; }
}

.lt-480 #contact #main {
   position: static; 

  .rob {
    position: static;
    top: 0;
    max-width: 100%;
  }

  h2, p { margin-left: 0; }
}

/* Compatibility for shitty browsers */

.lt-ie8 {
  #nav-bottom {
    ul { overflow: hidden; }
    li {
      float: left;
    }
  }

  .blocks {
    overflow: hidden;
    position: static;
  }

  .block {
    display: block;
    float: left;
    height: 180px;
    margin-right: 1%;
    position: relative;
    width: 29%;

    .band-img {
      width: 100%;
    }
  }

  .w-700, .gt-640.w-600 {
    .block {
      height: 220px;
    }
  }

  .lt-640 {
    .block {
      height: auto;
      margin-right: 0;
      width: 96%;
    }
  }

  .gt-985 {
    .photo-pane {
      width: 310px;
    }
  }

  #photo-viewer {
    width: 75%;

    img {
      margin-bottom: 0.5em;
    }
  }
}
