$text-fg: #444;

$link-fg: #3b3bcc;
$link-hover-fg: #5252cc;

$highlight-fg: #000;
$highlight-bg: #dbf94a;

$container-bg: #ccc;
$header-bg: #e1b738;
$main-bg: #fdfaf1;
$nav-bg: #333;
$border-fg: #afafaf;

$title-fg: #117;
$onb-blue: #1b1bb3;
$onb-blue-very-dark: #004;
$onb-orange: #ff4900;
$onb-purple: #a600a6;
