// #444 looks better than black: twitter.com/H_FJ/statuses/11800719859
$text-fg: #444;

$link-fg: #607890;
$link-hover-fg: #036;

$highlight-fg: #000;
$highlight-bg: #ff9;

$container-bg: #efefef;
$main-bg: #fff;
$border-fg: #afafaf;

$title-fg: #117;
$onb-blue: #6e8dd6;
$onb-orange: #f90;
$onb-purple: #c770c5;
