$text-fg: #444;

$link-fg: #3b3bcc;
$link-hover-fg: #5252cc;

$highlight-fg: #000;
$highlight-bg: #dbf94a;

$container-bg: #ccc;
$header-bg: #9dbd00;
$main-bg: #fff;
$nav-bg: #333; //#0e0e89;
$border-fg: #afafaf;

$title-fg: #117;
$onb-blue: #1b1bb3;
$onb-orange: #ff4900;
$onb-purple: #a600a6;
