$font-size-base: 16;
$line-height-base: 1.5;
$font-family-base: 'Century Gothic', 'Apple Gothic', 'URW Gothic L', FuturaStd, sans-serif;
$header-font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

@mixin rhythm-px($size) {
  font-size: $size;
  line-height: $font-size-base*$line-height-base/$size;
}

@mixin rhythm-pc($percent) {
  font-size: #{$font-size-base*$percent/100%}px;
  @include line-unit-pc(line-height, $percent);
}

@mixin header-rhythm($percent) {
  $px: $font-size-base*$percent/100%;
  $line-unit-px: $line-height-base*$font-size-base;
  $top-diff-px: $line-unit-px - $px;

  font-size: #{$px}px;
  line-height: 1;

  @if $px > $font-size-base {
    $half-line-px: $line-unit-px/2;
    margin-bottom: #{$half-line-px}px;
    padding-top: #{$half-line-px + $top-diff-px}px;
  } @else {
    $quarter-line-px: $line-unit-px/4;
    margin-bottom: #{$quarter-line-px}px;
    padding-top: #{$top-diff-px - $quarter-line-px}px;
  }
}

@mixin line-unit-pc($property, $percent, $unit: '') {
  #{$property}: $line-height-base*100%/$percent#{$unit};
}
