@import "compass/css3";

@mixin buttonize($base_color: #5291C5, $button_size: $font-size-base*2px) {
  @include box-sizing(border-box);
  @include border-radius($button_size/4);
  @include linear-gradient(color-stops(lighten($base_color, 30%), lighten($base_color, 15%) 4%, $base_color));
  @include text-shadow(darken($base_color, 10%), 0, -1px, 0);

  background-color: $base_color;
  border: 1px solid darken($base_color, 20%);
  color: #fff;
  display: inline-block;
  height: $button_size;
  line-height: $button_size - $button_size/$font-size-base;
  padding: 0 $button_size/4;
  text-decoration: none;

  &:active {
    @include linear-gradient(color-stops(darken($base_color, 30%), darken($base_color, 15%) 4%, darken($base_color, 7%)));
  }
  &:link, &:hover { color: #fff }
}

html {
  background: $container-bg;
}

header, #nav, #main, footer {
  padding-left: 2em;
  padding-right: 2em;
}

header {
  background: $header-bg url(/static/images/header_ray.png) no-repeat center top;
  height: 206px;
}

#site-title {
  margin: 0 auto;
  position: relative;
  top: 55px;
  width: 205px;
}

#nav {
  background-color: $nav-bg;

  ul {
    float: right;
    list-style-type: none;
    margin-left: 0;
    text-align: right;
    width: 50%;
  }

  li {
    display: inline-block;
    margin-left: 1em;
  }
}

#motto { color: #fff; }

#main {
  background: $main-bg;
  min-height: 15em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

footer {
  border-top: solid 1px $border-fg;
  font-size: 82.5%;
  padding-top: 1.5em;
}

a.big-action {
  @include buttonize($onb-purple, $font-size-base*3px);
  font-size: 1.75em;
  font-weight: bold;
}

#intro {
  @include header-rhythm(200%);
  color: #000;
  letter-spacing: -2px;
}

.blocks {
  border-spacing: 0.5em 0;
  display: table;
  margin-left: -0.5em;
  padding-top: 1.5em;
}

.block {
  @include box-shadow(#ccc, 0, 0, 8px);
  @include linear-gradient(color-stops(#efefef, #dfdfdf));

  background-color: #efefef;
  border: 1px solid $border-fg;
  border-collapse: separate;
  color: #222;
  display: table-cell;
  padding: 0 0.5em;
  width: 30%;

  h2 {
    @include text-shadow(rgba(0,0,0,0.2), 0, 0, 2px);
    letter-spacing: -1px;
  }
}

#call-to-action {
  margin: 1.5em auto 0;
  padding: 0 0.5em;
  width: 33%;

  p { @include rhythm-pc(112.5%); }
  .big-action { vertical-align: middle; }
}

#gigs {
  background-color: #333;
  color: #fff;
  height: 1.5em;
  margin-top: 1.5em;
  overflow: hidden;
  padding: 0 0.5em;

  .upcoming { font-weight: bold; }
  .upcoming:after { content: ' \203A'; font-weight: bold; } // &rsaquo;

  .gig:after { content: ' \2022 '; } // &bull;
  .gig:last-child:after { content: ''; }
}
