@import "compass/css3";

@mixin buttonize($base_color: #5291C5, $button_size: $font-size-base*2px) {
  @include box-sizing(border-box);
  @include border-radius($button_size/4);
  @include linear-gradient(color-stops(lighten($base_color, 30%), lighten($base_color, 15%) 4%, $base_color));
  @include text-shadow(darken($base_color, 10%), 0, -1px, 0);

  background-color: $base_color;
  border: 1px solid darken($base_color, 20%);
  color: #fff;
  display: inline-block;
  height: $button_size;
  line-height: $button_size - $button_size/$font-size-base;
  padding: 0 $button_size/4;
  text-decoration: none;

  &:active {
    @include linear-gradient(color-stops(darken($base_color, 30%), darken($base_color, 15%) 4%, darken($base_color, 7%)));
  }
  &:link, &:hover { color: #fff }
}

html {
  background: $container-bg;
}

#nav, #main, footer {
  margin: 0px auto;
  max-width: 1152px;
  padding-left: 2em;
  padding-right: 2em;
}

@media screen and (max-device-width: 480px) {
  #nav, #main, footer {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

header {
  background: url(/static/images/header_ray.png) no-repeat center top;
  height: 210px;
}

#site-title {
  margin: 0 auto;
  position: relative;
  top: 100px;
  width: 144px;

  a { text-decoration: none; }
}

@media screen and (max-device-width: 480px) {
  header {
    background: url(/static/images/header_ray.png) no-repeat center -40px;
    height: 170px;
  }

  #site-title { top: 60px; }
}

.nav {
  background-color: $nav-bg;
  color: $onb-almost-white;
  height: 2em;
  line-height: 2;

  a, a:link, a:visited { color: $onb-almost-white; }
  a:hover, a:active { color: white; }
}

#nav {
  .nav-items { display: table; width: 100%; }
  ul, #home-link { display: table-cell; width: 50%; }
  
  ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    text-align: right;
  }

  li {
    display: inline-block;
    margin-left: 1em;
  }
}

#nav-bottom {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    margin-right: 1em;
    &:last-child { margin-right: 0; }
  }
}

#band-name {
  font-weight: bold;
  margin-right: 0.5em;
  a { text-decoration: none; }
}
#motto { font-size: 82.5%; }

@media screen and (max-width: 480px) {
  #band-name, #nav ul { display: none; }
  #nav .nav-items { display: block; }
  #nav #home-link { display: block; width: 100%; }
  #nav-bottom { display: block; }
  #motto {
    display: block;
    line-height: 2.6125;
    text-align: center;
    width: 100%;
  }
}

#main {
  background: $main-bg;
  min-height: 15em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

footer {
  color: $onb-almost-white;
  font-size: 82.5%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

@media screen and (max-device-width: 480px) {
  footer { text-align: center; }
}

a.big-action {
  @include buttonize($onb-purple, $font-size-base*3px);
  font-size: 1.75em;
  font-weight: bold;
}

h1 {
  color: $onb-blue-very-dark;
  letter-spacing: -2px;
}

#intro { @include header-rhythm(200%); }

.blocks {
  border-spacing: 0.5em 0;
  display: table;
  margin-left: -0.5em;
  padding-top: 1.5em;
}

.block {
  @include box-shadow(rgba(0,0,0,0.25), 0, 0, 8px);
  @include linear-gradient(color-stops(#fff6d7, #fff1b9));

  background-color: #fff6d7;
  border: 1px solid $border-fg;
  border-collapse: separate;
  color: #222;
  display: table-cell;
  padding: 0 0.5em;
  width: 30%;

  h2 {
    color: $onb-blue-very-dark;
    @include text-shadow($onb-blue-light, 1px, 0, 1px);
    letter-spacing: -1px;
  }
}

#call-to-action {
  margin: 1.5em auto 0;
  padding: 0 0.5em;
  width: 33%;

  p { @include rhythm-pc(112.5%); }
  .big-action { vertical-align: middle; }
}

@media screen and (max-width: 640px) {
  .blocks {
    display: block;
    margin: 0;
  }
  .block, #call-to-action {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
  }
  .block { margin: 0.5em 0; }
}

#gigs {
  background-color: $nav-bg;
  color: $onb-almost-white;
  height: 1.5em;
  margin-top: 1.5em;
  overflow: hidden;
  padding: 0 0.5em;

  .upcoming { font-weight: bold; }
  .upcoming:after { content: ' \203A'; font-weight: bold; } // &rsaquo;

  .gig:after { content: ' \2022 '; } // &bull;
  .gig:last-child:after { content: ''; }
}

@media screen and (max-width: 480px) {
  #gigs { height: auto; }
}

.bio p {
  max-width: 40em;
}

.error {
  color: $error-fg;
  font-weight: bold;
}
