@import "compass/css3";

$fb-font-size: 100%;

// TODO: Remove for production
// Lorem Ipsum styles
#lorem {
  display: table-row;

  & > * { display: table-cell; width: 48%; padding-right: 1%; }
  .headers { text-align: right; }
}

.ie6, .ie7 {
  #lorem div {
    float: left;
  }
}

html {
  background: $container-bg;
}

header, nav, #main, footer {
  padding-left: 2em;
  padding-right: 2em;
}

// Site styles here
header {
  border-bottom: solid 1px $border-fg;
  line-height: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}

header, nav {
  @include clearfix;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
  margin-right: 1em;
}

#site-title {
  @include text-shadow;

  color: $title-fg;
  display: inline-block;
  font-family: $title-font-family;
  font-size: 200%;
  letter-spacing: -1.5px;
  margin: 0;
  padding: 0;
}

#motto {
  float: right;
  line-height: 2;
}

#main {
  background: $main-bg;
  min-height: 15em;
  padding-top: 0.75em;
  padding-bottom: 2.25em;
}

footer {
  border-top: solid 1px $border-fg;
  font-size: 82.5%;
  padding-top: 1.5em;
}

#intro {
  & > span {
    display: inline-block;
    padding-right: 0.75em;

    & > em { background-color: #fda; }
  }
}

#covered {
  @include rhythm-pc(112.5%);
  font-weight: bold;
}

.configs {
  border-spacing: 0.5em 0;
  display: table;
  margin-left: -0.5em;
}

.config {
  @include box-shadow(#ccc, 0, 0, 8px);

  background-color: #efefef;
  border: 1px solid $border-fg;
  border-collapse: separate;
  display: table-cell;
  padding: 0 0.5em;
  width: 30%;

  h2 { letter-spacing: -1px; }
}
