{% extends "layout.html" %}

{% from '_content_macros.html' import text_content %}

{% block title %}Band and member biographies{% endblock %}
{% block pagedesc %}TODO: One nite band is blah blah{% endblock %}
{% block pageauthor %}One Nite Band{% endblock %}
{% block bodyid %}bio{% endblock %}

{% block content %}
<h1>A little about us&hellip;</h1>

<div id='band_bio' class='bio editable'>
  {{ text_content(band_bio, auth_session) }}
</div>

<div id='band_bio_img' class='editable'>
{% if band_bio_img %}
  <img src='{{ band_bio_img.image }}' alt='{{ band_bio_img.content }}' class='image'>
{% endif %}
</div>

{% endblock %}
