{% extends "layout.html" %}

{% block title %}Band and member biographies{% endblock %}
{% block pagedesc %}TODO: One nite band is blah blah{% endblock %}
{% block pageauthor %}One Nite Band{% endblock %}
{% block bodyid %}bio{% endblock %}

{% block content %}
<h1>A little about us&hellip;</h1>

<div id='band_bio' class='bio editable'>
{% if not band_bio %}
  <p class='error content'>No bio available for One Nite Band! You may wish to add one&hellip;</p>
{% else %}
  <div class='content'>
    {{ band_bio.text|markdown }}
  </div>
{% endif %}
</div>

<div id='band_bio_img' class='editable'>
{% if band_bio_img %}
  <img src='{{ band_bio_img.image }}' alt='{{ band_bio_img.content }}' class='image'>
{% endif %}
</div>

{% endblock %}
