{% extends "layout.html" %}

{% block title %}Band and member biographies{% endblock %}
{% block pagedesc %}TODO: One nite band is blah blah{% endblock %}
{% block pageauthor %}One Nite Band{% endblock %}

{% block content %}
<h1>A little about us&hellip;</h1>

<p><strong>One Nite Band</strong> has been the life of the party at all kinds of weddings and events in the Calgary area since 2002. Our vocalists trained with the Youth Singers of Calgary. Our rhythm and horn players have been playing jazz, rock and pop for more years than we'd care to mention. Some of us have even played internationally &mdash; in Cuba &mdash; during a hurricane.</p>
{% endblock %}
