{% extends "layout.html" %}

{% block title %}Calgary band for corporate events, weddings and cocktail parties{% endblock %}
{% block pagedesc %}TODO: One nite band is blah blah{% endblock %}
{% block pageauthor %}One Nite Band{% endblock %}

{% block content %}
<p id='intro'><span>Got a <em>wedding</em> coming up?</span><span>Planning a <em>corporate event</em> for 1000 people?</span><span>Or a <em>cocktail party</em> for 50?</span></p>
<p id='covered'>One Nite Band has got you covered.</p>

<div class='configs'>
  <div class='config'>
    <h2>10-piece Dance Band</h2>
    <p>Singers, Horns and Rhythm. Guaranteed to make you boogie.</p>
    <p>Perfect for wedding receptions &amp; corporate events.</p>
  </div>
  <div class='config'>
    <h2>Small Jazz Combo</h2>
    <p>Low-key easy-listening Jazz standards. Your choice of trio or quartet.</p>
    <p>Perfect for setting a light mood during dinner or cocktails.</p>
  </div>
  <div class='config'>
    <h2>Blues/Rock Band</h2>
    <p>Blues and rock &amp; roll from the '50s to now. Yes, we can add more cowbell.</p>
    <p>Perfect for parties, big and small.</p>
  </div>
</div>
{% endblock %}
