{% extends "layout.html" %}

{% block title %}Calgary band for corporate events, weddings and cocktail parties{% endblock %}
{% block pagedesc %}TODO: One nite band is blah blah{% endblock %}
{% block pageauthor %}One Nite Band{% endblock %}
{% block bodyid %}index{% endblock %}

{% block content %}
<h1 id='intro'>The all-in-one band for your next hit event.</h1>

<div class='blocks'>
  <div class='block'>
    <h2>10-piece Dance Band</h2>
    <p>Big band, bigger repertoire. Guaranteed to make you boogie.</p>
    <p>Perfect for wedding receptions and corporate events.</p>
  </div>
  <div class='block'>
    <h2>Small Jazz Combo</h2>
    <p>Low-key, easy-listening Jazz standards. Your choice of trio or quartet.</p>
    <p>Perfect for setting a light mood during dinner or cocktails.</p>
  </div>
  <div class='block'>
    <h2>Blues/Rock Band</h2>
    <p>Blues and rock &amp; roll from the '50s to now. Yes, we can add more cowbell.</p>
    <p>Perfect for parties, big or small.</p>
  </div>
</div>
<div id='call-to-action'>
  <p>Your entertainment is our business.</p>
  <a class='big-action' href=''>Book Us!</a> or <a href='{{ url_for('bio') }}'>find out more</a>.
</div>

<div id='gigs'>
  <span class='upcoming'>Next event</span>
  {% for gig in gigs %}
    <span class='gig'>{{ gig.title }} {% if gig.place %} at {{ gig.place }} {% endif %} on {{ gig.date|gigdate }}</span>
  {% endfor %}
</div>
{% endblock %}
