{% extends "layout.html" %}

{% block title %}Administration login{% endblock %}
{% block pagedesc %}TODO: One nite band is blah blah{% endblock %}
{% block pageauthor %}One Nite Band{% endblock %}
{% block bodyid %}session{% endblock %}

{% block content %}

<h1>Administrator Login</h1>
{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
<form method='post' action="{{ url_for('create_session') }}">
  <p>
    <label for='username'>User name</label>
    <input id='username' name='username' type='text' value='{{ username }}'>
  </p>

  <p>
    <label for='password'>Password</label>
    <input id='password' name='password' type='password' value='{{ password }}'>
  </p>

  <input type='submit' value='Log in!'>
</form>

{% endblock %}

